@model IEnumerable<RL.RemoteData.Contract.RemoteModels.BookDto>
@{
    ViewBag.Title = "Recommendations";
}

<h2>We think that you can be  interested in...</h2>

@foreach (var book in @Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                @book.Title
                @if (!string.IsNullOrEmpty(book.SubTitle))
                {
                    <span>
                        : @book.SubTitle
                    </span>
                }
            </h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#bookOverview_@book.Id" data-toggle="tab">Book overview</a></li>
                <li><a href="#bookInfo_@book.Id" data-toggle="tab">Book info</a></li>
                @*<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                            <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                        </ul>
                </li>*@
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="bookOverview_@book.Id">
                    <div class="panel-wrapper">
                        <img class="col-lg-2 pull-right" src="@book.Image.Thumbnail" />
                        <div class="col-lg-10">
                            @if (!string.IsNullOrEmpty(book.Description))
                            {
                                <blockquote>

                                    @{ var html = new HtmlString(book.Description); }
                                    <span>
                                        @html
                                    </span>
                                    <small>Few words about <cite title="Source Title">@book.Title</cite></small>
                                </blockquote>
                            }
                            else
                            {
                                <div class="well">Google is too lazy to add some description for this...</div>
                            }
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade panel-wrapper" id="bookInfo_@book.Id">
                    @if (book.Authors.Any())
                    {
                        <div class="panel panel-default col-lg-4 without-padding">
                            <div class="panel-heading">Authors:</div>
                            <div class="panel-body list-group">
                                @foreach (var author in book.Authors)
                                {
                                    <a class="list-group-item" href="https://en.wikipedia.org/wiki/@author">@author</a>
                                }
                            </div>
                        </div>
                    }
                    @if (book.Categories.Any())
                    {
                        <div class="panel panel-default col-lg-4 without-padding">
                            <div class="panel-heading">Categories:</div>
                            <div class="panel-body list-group">
                                @foreach (var category in book.Categories)
                                {
                                    <p class="list-group-item">@category</p>
                                }
                            </div>
                        </div>
                    }
                    <div class="panel panel-default col-lg-4 without-padding">
                        <div class="panel-heading">Published:</div>
                        <div class="panel-body">
                            <span>
                                by <a href="https://en.wikipedia.org/wiki/@book.Publisher">@book.Publisher</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
