@model IEnumerable<RL.RemoteData.Contract.RemoteModels.BookDto>
@{
    ViewBag.Title = "Recommendations";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">How would you rate this book?</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend id="modalLegend"></legend>
                            <div class="form-group col-lg-10">
                                <label for="bookMark" class="col-lg-2 control-label">Mark</label>
                                <select class="col-lg-10 form-control pull-right" id="bookMark">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="rate()">Rate!</button>
                </div>
            </div>
        </div>
        <input type="hidden" id="favoriteId" value="" />
    </div>
}

<h2>We think that you can be  interested in...</h2>

@foreach (var book in @Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                @book.Title
                @if (!string.IsNullOrEmpty(book.SubTitle))
                {
                    <span>
                        : @book.SubTitle
                    </span>
                }
            </h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#bookOverview_@book.Id" data-toggle="tab">Book overview</a></li>
                <li><a href="#bookInfo_@book.Id" data-toggle="tab">Book info</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Actions <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#bookInfo_@book.Id" onclick="addFavorites(this.id, this.title)" id="@book.Id" title="@book.Title">Add to my favorites</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="bookOverview_@book.Id">
                    <div class="panel-wrapper">
                        <img class="col-lg-2 pull-right" src="@book.Image.Thumbnail" />
                        <div class="col-lg-10">
                            @if (!string.IsNullOrEmpty(book.Description))
                            {
                                <blockquote>

                                    @{ var html = new HtmlString(book.Description); }
                                    <span>
                                        @html
                                    </span>
                                    <small>Few words about <cite title="Source Title">@book.Title</cite></small>
                                </blockquote>
                            }
                            else
                            {
                                <div class="well">Google is too lazy to add some description for this...</div>
                            }
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade panel-wrapper" id="bookInfo_@book.Id">
                    @if (book.Authors.Any())
                    {
                        <div class="panel panel-default col-lg-4 without-padding">
                            <div class="panel-heading">Authors:</div>
                            <div class="panel-body list-group">
                                @foreach (var author in book.Authors)
                                {
                                    <a class="list-group-item" href="https://en.wikipedia.org/wiki/@author">@author</a>
                                }
                            </div>
                        </div>
                    }
                    @if (book.Categories.Any())
                    {
                        <div class="panel panel-default col-lg-4 without-padding">
                            <div class="panel-heading">Categories:</div>
                            <div class="panel-body list-group">
                                @foreach (var category in book.Categories)
                                {
                                    <p class="list-group-item">@category</p>
                                }
                            </div>
                        </div>
                    }
                    <div class="panel panel-default col-lg-4 without-padding">
                        <div class="panel-heading">Published:</div>
                        <div class="panel-body">
                            <span>
                                by <a href="https://en.wikipedia.org/wiki/@book.Publisher">@book.Publisher</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/app/homePage.js"></script>
}
